.footer_global {
  background: #ffb0ed;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem; /* Ajustado el padding para mejorar la apariencia en pantallas pequeñas */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer_global div:nth-child(1) {
  width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
  padding: 1rem;
  box-sizing: border-box;
}

.footer_global div:nth-child(1) img {
  width: 8rem;
  height: auto;
  margin-bottom: 1rem;
}

.footer_global ul:nth-child(2),
.footer_global ul:nth-child(3) {
  width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
  margin-top: 1rem;
}

.footer_global ul:nth-child(2) li,
.footer_global ul:nth-child(3) li {
  list-style: none;
  color: #3f3f3f;
  margin-bottom: 0.5rem;
}

.footer_global ul:nth-child(2) li:nth-child(1),
.footer_global ul:nth-child(3) li:nth-child(1) {
  margin-bottom: 1.5rem;
}

.footer_global ul:nth-child(2) li a,
.footer_global ul:nth-child(3) li a {
  text-decoration: none;
  color: #FFFFFF;
}

@media only screen and (min-width: 360px) {
  .footer_global {
    flex-direction: row; /* Cambiado a fila en pantallas más grandes que 360px */
  }

  .footer_global div:nth-child(1) {
    width: 50%; /* Cambiado al 50% para ocupar la mitad del ancho en pantallas más grandes que 360px */
  }

  .footer_global ul:nth-child(2),
  .footer_global ul:nth-child(3) {
    width: 50%; /* Cambiado al 50% para ocupar la mitad del ancho en pantallas más grandes que 360px */
  }
}
