/* Estilos generales */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: "Poppins", sans-serif;
  gap: 3rem;
}

.menu-list a {
  text-decoration: none;
  color: #CF7AB4;
  transition: color 0.3s ease; /* Agregar transición suave al color */
}

.menu-list li {
  margin-right: 20px;
}

.menu-list a:hover {
  color: #8d3b73;
}

.menu-hamburger {
  display: none;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .menu-list {
    display: none;
  }

  .menu-hamburger {
    display: block;
    cursor: pointer;
  }

  #toggle {
    display: none;
  }

  .menu-list-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: transform 0.3s ease;
    transform: translateY(-100%);
  }

  .menu-list-mobile ul {
    list-style: none;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .menu-list-mobile a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #CF7AB4;
    transition: color 0.3s ease;
    cursor: pointer; /* Agrega un puntero al hacer clic */
  }

  .menu-list-mobile li {
    margin-right: 0;
  }

  #toggle:checked ~ .menu-list-mobile {
    transform: translateY(0);
  }

  #toggle:checked + .menu-hamburger .icon:before {
    content: '\f00d';
  }

  #toggle:not(:checked) ~ .menu-list-mobile {
    transform: translateY(-100%);
  }

  .menu-list-mobile a:hover {
    color: #8d3b73;
  }
}