.section_pref {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;
}

.parallax-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.parallax-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_pref h2 {
  font-size: calc(2rem + 3vw);
  color: #cf7ab4;
  margin: 0;
  padding-top: 4rem;
}

.section_pref p {
  font-size: calc(0.8rem + 0.5vw);
  max-width: 100%;
  text-align: center;
  color: #565656;
  margin: 0;
  padding: 0;
}

.section_pref-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}

.section_pref-imgs img {
  width: 100%;
  max-width: calc(10rem + 3vw);
  height: auto;
}

.section_pref button {
  width: 80%;
  max-width: calc(10rem + 3vw);
  height: calc(3rem + 1vw);
  background-color: #cf7ab4;
  border: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.8rem + 0.5vw);
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .section_pref-imgs {
    flex-direction: column; /* Cambia la dirección a columna para mostrar de dos en dos */
    align-items: center; /* Centra las imágenes */
  }

  .section_pref-imgs img {
    max-width: 100%; /* Ajusta el ancho máximo de las imágenes al 100% */
    width: 48%; /* Establece el ancho de cada imagen al 48% del contenedor para mostrar de dos en dos */
    margin-bottom: 1rem; /* Agrega margen inferior para separar las imágenes */
  }

  .section_pref button {
    width: 100%; /* Establece el ancho del botón al 100% para que ocupe todo el ancho del contenedor */
    max-width: 100%;
  }

  .parallax-img img {
    width: 120%; /* Ajusta el ancho según tus necesidades para agrandar la imagen */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  }
}

